.center {
    text-align: center;
    background-color: #474742;
    width: 200px;
    height: 200px;
    left: 670px;
    top: 20.91px;
    position: absolute;
}

header {
    background-image: url(../img/banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

nav {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    letter-spacing: 10px;
    font-feature-settings: 'cpsp' on;
    color: white;
}



body {
    background-color: #f5f5f2;
}

h1 {
    text-align: center;
    background-color: #474742;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    letter-spacing: 10px;
    font-feature-settings: 'cpsp' on;
    color: white;
}

h2 {
    background-color: #c4c4c4;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    font-feature-settings: 'cpsp' on;
    color: black;
}

.negrita {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 84.69%;
} 

.fuentenueva { 
    font-family: 'Open Sans', sans-serif;
  
}

.cursiva {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.espacio {
    text-indent: 72px;
}

.puntos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.iconcolor {

}

footer {
    color: white;
    text-align: center;
    background-color: #474742;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
}

/* características de la fuente de google fonts 
font-family: 'Open Sans', sans-serif; cómo era para cambiarla toda de una?*/